*{ margin: 20; padding: 20; }

body {
    background: #141E30;
    background: -webkit-linear-gradient(-45deg, rgb(117, 116, 116), #d2d2d2);
    background: linear-gradient(-45deg, #6d6666, #2e302e);
    margin: 0;
    padding: 0;
  }

  #Nav {
    display: block; 
 }

 #Nav {
    list-style: none;
 }

  #Nav a{
    color: #f2f2f2;
    text-decoration:none;
    flex-direction: row-reverse
}

#Nav a:hover {
   color: rgb(94, 210, 59);
   text-decoration: underline;
   flex-direction: row-reverse
}

#Nav ul {
    color: white;
    display: flex; 
    justify-content:center;
    list-style-type:none;
    padding: 1px 70px 4px 70px;
}

#Nav li {
    margin-right: 50px;
}

ul {
    color: white;
    padding: 6px 70px 4px 70px;
}

h1 {
    color: white;
    font-size: xx-large;
    font-style:initial;
    padding: 1px 60px 1px 60px;
    display: inline-flex; 
}

p {
    color: white;
    padding: 6px 60px 4px 60px;
    border: 3px;
    display: flex;
}

h2 {
    color: white;
    font-size: xx-large;
    font-style:initial;
    padding: 1px 60px 1px 60px;
    display: inline-flex;
}

h3 {
    color: white;
    font-size: xx-large;
    font-style:initial;
    padding: 1px 60px 1px 60px;
    display: inline-flex;
}

footer {
    color: white;
    font-style: unset;
    padding: 6px 60px 4px 60px;
}

.container img {
    padding: 6px 60px 4px 60px;
    position: absolute;
    width: 350px;
    height: 400px;
    top:145px;
   right: 10%;    
}

img {
    border-radius: 3%; 
    display: flex;
}